---
title: "Compile Ruby 1.9.2 with RVM using Homebrew installed Iconv"
date: 2011-01-30 19:46
author: Darren
tags: Ruby, OSX, RVM
description: "Force RVM to compile Ruby 1.9.2 with a Homebrew installed version of Iconv on Snow Leopard"
keywords: Ruby, RVM, OSX, Iconv, Homebrew
---

<%= entry_asset({:url => 'http://images.darrenknewton.com/iconv.jpg', :alt => 'Iconv', :title => "Compile Ruby 1.9.2 with Iconv via Homebrew"}) %>

I spent a very frustrating hour this morning trying to get the JSON gem to work on Ruby 1.9.2 p136 installed via <a href="http://rvm.beginrescueend.com/">RVM</a> on Snow Leopard. I thought I would post my solution to help any other unfortunate souls. READMORE

<p>The RVM docs <a href="http://rvm.beginrescueend.com/packages/iconv/">suggest installing a sandboxed version of Iconv</a> like so:</p>

	:::bash
	$ rvm package install iconv

<p><strong>This didn't work</strong>. I got archictecture errors during compile. I then tried to install the <code>iconv</code> gem, which again didn't work. It couldn't seem to find the <code>iconv</code> lib files.</p>

<p>In the end, I installed icon with <a href="http://mxcl.github.com/homebrew/">Homebrew</a> and linked it to Ruby like so:</p>

	:::bash
	$ brew install libiconv
	$ rvm remove 1.9.2
	$ rvm install 1.9.2 --with-iconv-dir=/usr/local/Cellar/libiconv/1.13.1

<p>This compiled Ruby with the <a href="http://mxcl.github.com/homebrew/">Homebrew</a> installed <code>iconv</code> libraries and the <code>json</code> gem worked just fine after.</p>