		<footer id="footer-page">
			<div class="container">
				<div id="colophon">
					<div id="colophon-a">
						You should follow me on <a href="https://twitter.com/#!/d_run">Twitter</a>. You could fork one of my <a href="https://github.com/DarrenN">repos</a> or check-out my <a href="http://v25media.com" rel="me">design portfolio</a>.
					</div>
					<div id="colophon-b">
						&copy; <%= Date.today.year %> <span itemprop="author">Darren Newton</span>, all rights reserved.
					</div>
				</div>
				<div id="badges">
					<div id="badges-a">
						<% if current_page.data.layout != 'generic' %>
						<ul>
							<li><%= link_to 'JSON', current_article.url + 'atom.json', :type => "application/json", :rel => "alternate", :relative => true %></li>
							<li><%= link_to 'XML', current_article.url + 'atom.xml', :type => "application/atom+xml", :rel => "alternate", :relative => true %></li>
						</ul>
						<% end %>
					</div>
					<div id="badges-b"></div>
				</div>
			</div>
		</footer>
