---
layout: generic
title: Biography
author: Darren
description: "Howdy! This page be about one Darren Newton."
keywords: Texas, Houston, Chicago, New York City, London, skate, punk rock
---

<% content_for :generic_title do %>Howdy!<% end %>
<% content_for :generic_description do %>The life and times of the string manipulator known as Darren Newton<% end %>

<%= image_tag 'http://images.darrenknewton.com/darren_ps1.jpg', :alt => 'Darren Newton', :title => "Darren Newton vs. Bruce Nauman", :class => 'photo-left' %>

My name is <span itemprop="name">Darren Newton</span>. Writing about myself is always awkward so I'll keep this fairly brief.

I'm from [Texas](http://en.wikipedia.org/wiki/Houston). I started teaching myself to program in [Apple Basic](http://en.wikipedia.org/wiki/Apple_BASIC) hacking apart [BBS software](http://en.wikipedia.org/wiki/Networks_II) in the days of Apple Cat modems. I rode a [skateboard](http://memoryscreened.files.wordpress.com/2010/06/dsc_7610.jpg) and went to [Art](http://www.art.uh.edu/) [School](http://www.saic.edu/).

I currently live in Brooklyn, New York. I've been working as an interactive designer and front/back-end developer since 2000. You can read my public resume on [here](http://careers.stackoverflow.com/darrennewton). More importantly, you can check out some of my [code](https://github.com/DarrenN) on Github and [my questions/answers](http://stackoverflow.com/users/12799/darren-newton) on Stack Overflow.

You can view my design portfolio over on [v25media.com](http://v25media.com).

I love good design, and good code, and twisting my noodle on problems in general. I also maintain a few servers and muck about with server configurations (nginx/apache) and that sort of thing. Yeah, Renaissance Man, that's me.